{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

<style>
body { 
background-color: white;
}
nav {display: none;}
</style>


<br />
<br /><br />
<div class="col-xs-12 col-md-8 col-md-offset-2 col-sm-offset-1 col-sm-10">
<div class="form-holder animated" >
<div class="row" style="padding: 20px;">

<div class="col-xs-12">
<h1 style="font-weight: 200; display: inline-block;" >Users</h1>
<a href="{% url 'registry_dashboard' registry_id=registry.id %}" class="col-black"><i class="material-icons md-2em" style="text-align: right; float: right; display: inline-block;">close</i></a>
</div>
    <form method="post" enctype="multipart/form-data"> 
                      {% csrf_token %}

    {{ form.non_field_errors }}
    {{form.name.errors }}


          <div class="col-md-8" style="padding: 0;">
          <div class="linesform" >
{% if parent_circle %}
<h4 class="field-label">Are there specific groups of <div class="tag" style="padding: 5px;"><b>{{parent_circle.name}}</b></div> that may have different needs?</h4>
{% else %}
<h4 class="field-label">Add each group of people that will access your site.</h4><br />
{% endif %}
<div class="row">
<div class="col-md-8 col-sm-12">
    <div class="input-group input-group-lg">
      {% render_field form.name class+="form-control" placeholder="Students"%}
      <span class="input-group-btn">
        <button class="btn " type="submit" style="background-color: {{registry.palette.accent_color_dark}};">
        	<i class="material-icons col-white" style="display: inline-block; ">add</i></button>
      </span>
    </div><!-- /input-group -->
</div>
</div>

  

</div>
<br /><br />
<div class="col-xs-12">
{% if circles %}<h5>You've added these groups: </h5>{% endif %}
{% for circle in circles %}

<div class="btn-group" style="margin:3px; ">
<a href="{% url 'circle_list' circle_id=circle.id %}" class="btn" style="padding-top: 2px; padding-bottom:2px; color: white;  background-color: {{registry.palette.accent_color_dark}};height: 40px;"><h5>{{circle.name}}</h5></a>
<a href="{% url 'circle_update' circle_id=circle.id %}" class="btn" style="padding-top: 2px; padding-bottom:2px; color: white;  background-color: {{registry.palette.accent_color_dark}}; height: 40px; border-left: 1px solid rgba(255,255,255,0.5)"><i class="col-white material-icons" style="padding-top: 5px; color: rgba(255,255,255,0.5)">mode_edit</i></a>
</div>
{% endfor %}

</div>
<br /><br />


</div>
</div>


    </form>
    <br />    <br />    <br />
<a href="{% url 'circle_create_offering' registry_id=registry.id %}" class="btn btn-default">Continue </a>

</div>
</div>
{% endblock %}
