{% extends 'base.html' %}
{% load widget_tweaks %}
{% load circletags %}

{% block content %}

<style>
body { 
background-color: {{circle.palette.background_color}};
background-color: {{palette.background_color}};}
</style>


<br />
<br /><br />
<div class="col-xs-12 col-md-8 col-md-offset-2 col-sm-offset-1 col-sm-10">
<div class="form-holder animated zoomIn" >
<h2 style="font-weight: 300;">&nbsp {% if circle %}Update this Link {% else %} Create a Link {% endif %}</h2>
<h4><b>&nbsp &nbsp{{circle.name}}</b></h4> <br />
    <form method="post" enctype="multipart/form-data"> 
                      {% csrf_token %}
          {% for field in form %}
          <div class="col-md-8" style="padding: 0;">
          <div class="linesform" >
          {{field.label}}<br />
          {% render_field field class+="field1" %}<br />


</div>
</div>
  {% endfor %}
  <br />
    <br />
    <div class="col-xs-12">
  <div class="row" style="padding: 5px;">
        <button type="submit" class="btn btn-continue"><b class="col-white">Save</b></button>
        </div>
        </div>
    </form>
</div>
</div>
{% endblock %}