{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}




<br />
<br /><br />
<div class="col-xs-12 col-md-8 col-md-offset-2 col-sm-offset-1 col-sm-10">
<div class="animated slideInUp" >

    <form method="post" enctype="multipart/form-data"> 
                      {% csrf_token %}
                    {% for field in form %}
     
          {% render_field field class+="hidden" %}<br />

{% endfor %}


{% if not registry.name %}
<h4 class="field-label">What is the name of your organization?</h4>
          {% render_field form.name class+="field1" placeholder="Timsle Foundation"%}<br /><br />
          <button class="btn btn-default" type="submit">Continue </button>

<br /><br />
{% endif %}

{% if registry.name and not registry.mission %}
<h4 class="field-label">What {{registry.name}}'s mission?</h4>
          {% render_field form.mission class+="field1" placeholder="Timsle Foundation"%}<br /><br />
          <button class="btn btn-default" type="submit">Continue </button>


<br /><br />
{% endif %}

{% if registry.mission and not registry.mission_why %}
"{{registry.mission}}"
<h4 class="field-label">Why does {{registry.name}} do this?</h4>
          {% render_field form.mission_why class+="field1" placeholder="Timsle Foundation"%}<br /><br />
          <button class="btn btn-default" type="submit">Continue </button>

{% endif %}

{% if registry.mission_why %}
<a href="{% url 'registry_dashboard' registry_id=registry.id %}" class="btn btn-default">Return</a>
<a href="{% url 'palette_create' registry_id=registry.id %}" class="btn btn-default">Add Color</a>
{% endif %}
    </form>
</div>
</div>
{% endblock %}