{% extends 'base.html' %}
{% load widget_tweaks %}
{% load palettetags %}
{% load i18n %}
{% load account socialaccount %}


{% block content %}

<style>
nav {display: none;}
body {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+50,e1e1e1+50,f6f6f6+100 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(45deg,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 50%, #f6f6f6 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 50%,#f6f6f6 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 50%,#f6f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.login-card {
  background-color: white;
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.2);
      -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.2);
      box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.2);
      padding-top: 50px; padding-bottom: 100px;
      border-bottom: 8px solid #3F51B5;
      border-bottom: 8px solid {{registry.theme_color}}


}



</style>

<div class="container-fluid" style="margin-top: 80px;">
<div class="col-md-10 col-md-offset-1">
<div class="login-card animated fadeInLeft">
<div class="row">
<div class="col-xs-10 col-md-offset-1">
<div class="col-xs-12">
<h1 style="font-size: 4em; opacity: 0.1; margin-bottom: 30px;">{% if registry.name %}{{registry.name}}{%else %}Register{% endif %}</h1>
</div>
<div class="col-xs-12 col-md-8 col-md-offset-2 col-sm-offset-1 col-sm-10">
<div class="animated slideInUp" >

    <form method="post" enctype="multipart/form-data"> 
                      {% csrf_token %}
                    {% for field in form %}
     
          {% render_field field class+="hidden" %}
{% endfor %}


{% if not registry.name %}
<h4 class="field-label">What is the name of your organization?</h4>
          {% render_field form.name class+="field1" placeholder="Timsle Foundation"%}<br /><br />
          <button class="btn btn-continue bg-theme" type="submit">Continue </button>

<br /><br />
{% endif %}

{% if registry.name and not registry.theme_color %}
<h4 class="field-label">Choose a theme color for <div class="tag bg-theme"><b>{{registry.name}}</b></div></h4>
<p>Click the color to change it:</p>
          {% render_field form.theme_color class+="field_color" %}<br /><br />
          <button class="btn btn-continue bg-theme" type="submit">Continue </button>


<br /><br />
{% endif %}


{% if registry.theme_color and not registry.mission %}
<h4 class="field-label">The purpose of <div class="tag bg-theme"><b>{{registry.name}}</b></div> is to:</h4>
          {% render_field form.mission class+="field1" placeholder="help people improve their health, reach their goals, and live better lives."%}<br /><br />
          <button class="btn btn-continue bg-theme" type="submit">Continue </button>


<br /><br />
{% endif %}



{% if registry.mission and not registry.mission_why %}

<h4 class="field-label">Why does <div class="tag bg-theme"><b>{{registry.name}}</b></div> <div class="tag bg-theme"><b>{{registry.mission}}?</b></div></h4>
          {% render_field form.mission_why class+="field1" placeholder="We believe in the importance of healthy, active lifestyles."%}<br /><br />
          <button class="btn btn-continue bg-theme" type="submit">Continue </button>

{% endif %}

{% if registry.mission_why %}



</form>
</div>
</div>



<div class="col-md-6">
<p class="txt-caps"><b>Summary</b></p>
<h4 class="field-label"><div class="tag bg-theme"><b>{{registry.name}}</b></div> is a platform made to<div class="tag bg-theme"><b>{{registry.mission}}</b></div> We do this because <div class="tag bg-theme"><b>{{registry.mission_why}}</b></div></h4>


<div class="verification-{{registry.verification}} inline"></div>
<br /><br /><br />

</div>






<a href="{% url 'circle_create_user' registry_id=registry.id %}" class="btn bg-theme" style="border-radius: 2px; padding: 10px; color: white;"><b>Continue</b></a>


</div>
</div>
</div>

{% endif %}


    </form>
</div>
</div>
{% endblock %}