<!-- GROUP/LIST -->
{% extends 'base.html' %}
{% load circletags %}

{% block content %}
<style>
body {background-color: #e5e5e4;}

</style>

<br />
<br />
<br />
<br />

<div class="container">
<div class="col-md-10 col-md-offset-1">
{% for circle in torus_circles %}
						<a href="{% url 'circle_list' circle_id=circle.id %}">
							<div class="col-sm-4 animated zoomIn" style="padding: 6px; animation-delay: 0.{{forloop.counter}}s;">

								<div class="btn-top-navigation" style="color: white; background-color: {{circle.palette.accent_color_dark}};">
									<div class="clippy1">
										<div class="inner-clip">
											{% if circle.icon %}
											<i class="material-icons md-4em col-white;" style="margin-top: 10px; border-radius: 50%; border: 8px dotted white; border-style: dashed dotted dotted dotted; padding: 20px;">{{circle.icon.text}}</i>
											{% endif %}
										</div>
									</div>
								</div>
								<div class="btn-bottom-navigation center">
									<h4 class="col-black center">{{circle.name}}</h4>
									{% if circle.parent %}<a href="{% url 'circle_list' circle_id=circle.parent.id %}"><b>{{circle.parent.name}}</b></a>{% endif %}
								</div>
							</div>
						</a>
						{% empty%}
						There are no circles here at this time.
						{% endfor %}

</div>
</div>

{% endblock %}

