{% extends 'base.html' %}
{% load pacttags %}
{% block content %}

<div class="animated fadeInUp ">
	
		
				

<div class="row">
<div class="col-sm-6 col-lg-4" style="padding:0;">
<div class="pact-count-holder col-white nixie">{{pact.get_checkin_count}}</div>
</div>

<div class="col-sm-6 col-lg-8"><br /><br />
<h4 class="col-white inline txt-caps" ><b>{{ pact.owner }}&nbsp </b> {{pact.content.project.group}}</h4>
<h1 class="col-white">{{pact.answer }}</h1><br />
{% if request.user != pact.owner %}
<a id="modal-{{pact.id}}284195" href="#modal-{{pact.id}}284195" role="button" data-toggle="modal" class="col-white txt-caps btn btn-default">
    <i class="material-icons">done_all</i><br />Check in
    </a>
    {% endif %}
</div>

</div>



<h5 class="col-white txt-caps">Progress</h5>
<div class="row">
{% for checkin in checkins %}

<div class="col-xs-3">
<i class="material-icons col-white">check_circle</i>
</div>
<div class="col-xs-9">
<p class="col-white inline "><b>{{checkin.created_at}}</b><br />
Checked in by {{ checkin.submitted_by }}</p><br /><br />
</div>



{% empty %}
{% endfor %}



</div>

{% endblock %}


