{% load circletags %}

<style>
	body { background-color: {{circle.palette.background_color}};}
</style>


<div class="container-fluid" style="background-color: {{circle.palette.background_color}};">
	<div class="row ">
		<div class="container">
			<div class="col-xs-12 col-sm-10 col-sm-offset-1 padding-y-60">
				<div class="row">
					<div class="col-sm-7">
						<div class="chat-holder animated zoomIn">
							<i class="material-icons col-white">chat</i>
							<h4 class="col-white">{{circle.tagline}}</h4>
							<p class="col-white">{{circle.description}}</p>
						</div>
					</div>
				</div>

			
			</div>


			{% for link in links %}
			{% portal_slip circle_id=circle.id link_id=link.id %}
			{% endfor %}

		</div>
	</div>
</div>
