

<header style="display:block; font-family: 'Times New Roman', Times, serif; font-style: italic; font-size:32px;">
	Timsle
</header>

<div style="width:90%; margin:auto; padding:20px 10px 40px 10px; display:block;">
	<div style="display:block;">
		{{owner_name}} has created a Timsle Pact with you. They want you to help them achieve their goal.
	</div>
	<div style="display:block;">
		Check it out at <a href="{{pact_url}}">{{ pact_url }}</a>?
		
	</div>
</div>
<footer>
<small>
Timsle is used to keep you on track and help you accomplish your goals. <br />

<i>Timsle</i>
</small>
</footer>

