

	<div class="row">
	<div class="col-md-10 col-md-offset-1">


<div class="col-md-5">
{% if project.name %}<h2 style="font-weight: 700;">{{ project.name }}</h2>{% endif %}
<br />
<a href="{% url 'project_read' project_id=project.id%}" class="btn-explore btn center">
<i class="material-icons md-2em">near_me</i><br />EXPLORE
</a>

</div>

<div class="col-md-6 col-md-offset-1">
{% if project.tagline %}<h3>{{ project.tagline }}</h3>{% endif %}
{% if project.description %}<h4 style="font-weight: 500;">{{ project.description }}</h4><br />{% endif %}
</div>

</div>
<br />
<br />
</div>


